<div class="no-print">
    <div class="normalheader transition animated fadeIn">
        <div class="hpanel hblue">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li>
                            <span>Activities</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Activities
                </h2>
                <div>
                    <small>
This page makes it easy for you to enter and review information about your activities like steps taken, running and swimming. To add an activity results to your record, click 'Add Activity Results' and follow the on-screen instructions. When you are done, the new information will be added to your health record. 
                    <br><br>
                  </small>
                </div>
                <div class="row">

                    <div class="text-center">
                        <div class="btn-group">
                            <button type="button" id="dashbtoday" ng-click="GetActivity(1)" class="btn" style=" border-color: #bce8f1; background-color: #d9edf7; color: #31708f;">Today</button>
                            <button type="button" id="dashbweek" ng-click="GetActivity(2)" class="btn" style=" border-color: #bce8f1; background-color: #d9edf7; color: #31708f;">Week</button>
                            <button type="button" id="dashbmonth" ng-click="GetActivity(3)" class="btn" style=" border-color: #bce8f1; background-color: #d9edf7; color: #31708f;">Month</button>
                            <button type="button" id="dashbyear" ng-click="GetActivity(4)" class="btn" style=" border-color: #bce8f1; background-color: #d9edf7; color: #31708f;">Year</button>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 animated-panel fadeIn" style="animation-delay: 0.8s;">
                        <fusioncharts type="mscombi2d" datasource="{{myActivityDataSource}}" width="400" height="420"></fusioncharts>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content transition animated fadeIn">
        <div class="row">
            <div class="col-lg-12 animated-panel fadeIn" style="animation-delay: 0.3s;">
                <div class="hpanel hgreen">
                    <div class="panel-heading">
                        <div class="panel-tools">
                        </div>
                        Please add your Activity details here.
                    </div>
                    <div class="panel-body float-e-margins">
                        <div class="row">
                            <div class="col-md-4 animated-panel fadeIn" style="animation-delay: 0.4s;">
                                <small>
                       <span class="fa fa-user fa-lg"></span> - Entered by User &nbsp;&nbsp;<span class="fa fa-apple fa-lg text-info"></span> -  iOS App
           &nbsp;&nbsp;        <span class="fa fa-android fa-lg text-success"></span> -  Android App
                </small>
                                <br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 animated-panel fadeIn" style="animation-delay: 0.4s;">
                                <div class="input-group">

                                    <input type="text" id="search" ng-model="searchUser.Record.Activity.ActivityName" class="form-control" placeholder="Search Activity Name">
                                    <span class="input-group-btn">
                                    <button type="button" id="btnSearch" class="btn btn-info">Go!</button>
                                </span>
                                </div>
                            </div>
                            <div class="col-md-8 animated-panel fadeIn" style="animation-delay: 0.5s;">
                                <!--<div class="pull-right">
                                <button data-toggle="modal" data-target="#myModal" class="btn btn-info btn-outline " type="button">
                                    <i class="fa fa-share"></i> Download <span class="caret"></span>
                                </button>
                            </div>-->
                                <span class="pull-right">&nbsp;&nbsp;</span>
                                <button ng-click="resetModal()" type="button" id="btnAddPlayer" class="btn btn-outline btn-warning2 pull-right" data-toggle="modal" data-target="#addActivityModal">Add Activity Results</button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center" ng-show="Loading2">
                                    <img src="assets/images/loading-bars.svg" width="64" height="64" />
                                </div>
                                <div class="show-hide-message" ng-show="SuccessMsg">
                                    <div class="alert alert-success">
                                        <strong>Success!</strong> {{SuccessMsg}}
                                    </div>
                                </div>
                                <div class="show-hide-message" ng-show="SuccessMsg2">
                                    <div class="alert alert-warning">
                                        <strong>Success!</strong> {{SuccessMsg2}}
                                    </div>
                                </div>
                                <div class="show-hide-message" ng-show="ErrorMsg2">
                                    <div class="alert alert-danger">
                                        <strong>Oops!</strong> {{ErrorMsg2}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="table-responsive">
                            <div class="gj-grid-wrapper">
                                <table id="grid" class="footable table table-bordered table-hover gj-grid-table">
                                    <thead>
                                        <tr>
                                            <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                <div style="float: left">S.No.</div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell" style="width: 100px; text-align: center;">
                                                <div style="float: left">Entered By</div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell" style="width: 100px; text-align: center;">
                                                <div style="float: left">Date</div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="text-align: left;">
                                                <div style="float: left">Activity Name</div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                <div style="float: left">Path/Area/Pool Name</div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 120px; text-align: left;">
                                                <div style="float: left">Distance (Km)</div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 120px; text-align: left;">
                                                <div style="float: left">Weight (Kg)</div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 150px; text-align: left;">
                                                <div style="float: left">Total Time(Minutes)</div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                <div style="float: left"></div>
                                            </th>
                                            <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                <div style="float: left"></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="emptyList" class="text-center" style="background-color: ghostwhite;">
                                            <td colspan="9"><strong> No Activity Records Available </strong></td>
                                        </tr>
                                        <tr ng-repeat="UserActivity in UserActivities | filter:searchUser:false">
                                            <td style="text-align: left;">
                                                {{$index + 1}}
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="fa fa-user fa-lg" ng-if="UserActivity.Record.SourceId == 1"></span>
                                                <span class="fa fa-stethoscope fa-lg" ng-if="UserActivity.Record.SourceId == 2"></span>
                                                <span class="fa fa-user fa-lg" ng-if="UserActivity.Record.SourceId == 3"></span>
                                                <span class="fa fa-user fa-lg" ng-if="UserActivity.Record.SourceId == 4"></span>
                                                <span class="fa fa-apple fa-lg text-info" ng-if="UserActivity.Record.SourceId == 5"></span>
                                                <span class="fa fa-android fa-lg text-success" ng-if="UserActivity.Record.SourceId == 6"></span>
                                            </td>
                                            <!--<td style="text-align: center;">
                                            <span class="fa fa-user fa-lg"></span>
                                        </td>-->

                                            <td style="text-align: left;">
                                                {{UserActivity.Record.strCollectionDate}}
                                            </td>
                                            <td style="text-align: left;">
                                                {{UserActivity.Record.Activity.ActivityName}}
                                            </td>
                                            <td style="text-align: left;">
                                                {{UserActivity.Record.Name}}
                                            </td>
                                            <td style="text-align: left;">
                                                {{UserActivity.Record.Distance}}
                                            </td>
                                            <td style="text-align: left;">
                                                {{UserActivity.Record.Weight}}
                                            </td>
                                            <td style="text-align: left;">
                                                {{ UserActivity.Record.TotalMinutes +( UserActivity.Record.TotalHours * 60)}}
                                            </td>
                                            <td style="text-align: left;">
                                                <a href="#" title="View" ng-click="showActivity(UserActivity.Record._id)"><span class="glyphicon glyphicon-eye-open text-info"></span></a>
                                            </td>
                                            <td style="text-align: left;">
                                                <a href="#" title="Delete" ng-click="deleteActivity(UserActivity.Record._id)"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Activity Modal -->
    <div class="modal fade hmodal-info" id="addActivityModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">Add Activity Result</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center" ng-show="Loading">
                                <img src="assets/images/loading-bars.svg" width="64" height="64" />
                            </div>

                            <div class="show-hide-message" ng-show="ErrorMsg">
                                <div class="alert alert-danger">
                                    <strong>Oops!</strong> {{ErrorMsg}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="AddForm1">

                        <div class="text-center">
                            <form name="ActivityForm1">
                                <select ng-options="Activity as Activity.ActivityName for Activity in ActivityList" ng-show="List" size="12" class="form-control" ng-model="ActivityData.Info.Activity" required>
                        <option value="" selected="selected">Choose One</option>
                        <!--<option ng-repeat="Activity in ActivityList | filter:search:false" value="{{Activity.ActivityName}}">{{Activity.ActivityName}}</option>-->
                    </select>

                            </form>
                        </div>

                    </div>
                    <div ng-show="AddForm2">
                        <div class="row">
                            <form name="ActivityForm2">
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Activity: <span style="color: red;">*</span></label>
                                            <input class="form-control" required ng-model="ActivityData.Info.Activity.ActivityName" readonly>
                                            <input type="hidden" ng-model="ActivityData.Info.Activity.ActivityId" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Name of Path/Area: <span style="color: red;">*</span></label>
                                            <input class="form-control" required ng-model="ActivityData.Info.Name" placeholder="Enter Path"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Weight(kg): <span style="color: red;">*</span></label>
                                            <input class="form-control" required ng-model="ActivityData.Info.Weight" placeholder="Enter Weight between 0 to 1000 (in KG)" type="number" min="0" max="1000"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Distance (Km): <span style="color: red;">*</span></label>
                                            <input class="form-control" required type="number" ng-model="ActivityData.Info.Distance" min=".1" max="999" step="0.01" placeholder="Enter Distance between 0 to 999 (in Km) "></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <label class="control-label">Total Time (Hours): <span style="color: red;">*</span></label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" required type="number" min="0" max="23" ng-model="ActivityData.Info.TotalHours" placeholder="(0h-23h)" oninput="validity.valid||(value='');"></p>
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" required type="number" min="0" max="59" ng-model="ActivityData.Info.TotalMinutes" placeholder="(0-59 min)" oninput="validity.valid||(value='');"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Date: <span style="color: red;">*</span></label><br>
                                            <input id="datapicker2" required placeholder="dd/mm/yyyy" data-date-end-date="0d" type="text" required="" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="ActivityData.Info.strCollectionDate" style="">

                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Comments / Notes:</label>
                                            <textarea class="form-control" placeholder="Write your Comments here." ng-model="ActivityData.Info.Comments"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <span ng-show="AddForm1"><button type="button" class="btn btn-primary" ng-click="showNextForm()" ng-disabled="ActivityForm1.$invalid">Next</button></span>
                    <span ng-show="AddForm2"><button type="button" class="btn btn-success" ng-click="addActivity()" ng-disabled="ActivityForm2.$invalid">Add Activity Results</button></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Show Activity Modal -->
    <div class="modal fade hmodal-info" id="showActivityModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">Activity Details</h4>
                    <!-- <small class="font-bold">You can see an Activity in your profile by selecting it form the table.</small> -->
                </div>
                <div class="modal-body">
                    <fieldset ng-disabled="showDisable">
                        <div class="row">
                            <form name="">
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Activity: </label>
                                            <input class="form-control" required ng-model="UserActivityData.Record.Activity.ActivityName" readonly>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Name of Path/Area: </label>
                                            <input class="form-control" required ng-model="UserActivityData.Record.Name"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Weight(kg): </label>
                                            <input type="hidden" value="-1" ng-model="UserActivityData.Record.Calories">
                                            <input class="form-control" ng-model="UserActivityData.Record.Weight"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Distance (Km): </label>
                                            <input class="form-control" type="number" ng-model="UserActivityData.Record.Distance"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <label class="control-label">Total Time (Hours): </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" ng-model="UserActivityData.Record.TotalHours"></p>
                                        </div>
                                        <div class="col-lg-6">
                                            <input class="form-control" ng-model="UserActivityData.Record.TotalMinutes"></p>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Date: </label><br>
                                            <input id="datapicker2" type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="UserActivityData.Record.strCollectionDate" style="">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="control-label">Comments / Notes:</label>
                                            <textarea class="form-control" ng-model="UserActivityData.Record.Comments"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>