<div class="no-print">
<div class="normalheader transition animated fadeIn">
    <div class="hpanel hblue">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li>
                        <span>Body Temperature</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Body Temperature
            </h2>
            <div>
                <small>
                    This page makes it easy for you to enter and review information about your body temperature. To add body temperature to your record, click 'Add Body Temperature' and follow the on-screen instructions. When you are done, the new information will be added to your health record.
                    <br><br>
                  
                </small>
            </div>

            <div class="row">

                <div class="text-center">
                    <div class="btn-group">
                        <button type="button" id="dashbtoday" ng-click="GetBodyTemp(1)" class="btn" style=" border-color: #bce8f1; background-color: #d9edf7; color: #31708f;">Today</button>
                        <button type="button" id="dashbweek" ng-click="GetBodyTemp(2)" class="btn" style=" border-color: #bce8f1; background-color: #d9edf7; color: #31708f;">Week</button>
                        <button type="button" id="dashbmonth" ng-click="GetBodyTemp(3)" class="btn" style=" border-color: #bce8f1; background-color: #d9edf7; color: #31708f;">Month</button>
                        <button type="button" id="dashbyear" ng-click="GetBodyTemp(4)" class="btn" style=" border-color: #bce8f1; background-color: #d9edf7; color: #31708f;">Year</button>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6 col-md-offset-3 animated-panel fadeIn" style="animation-delay: 0.8s;">
                    <fusioncharts type="line" datasource="{{myBodyTempDataSource}}" width="400" height="400"></fusioncharts>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content transition animated fadeIn">
    <div class="row">
        <div class="col-lg-12 animated-panel fadeIn" style="animation-delay: 0.3s;">
            <div class="hpanel hgreen">
                <div class="panel-heading">
                    <div class="panel-tools">
                    </div>
                    Please add your Body Temperature details here.
                </div>
                <div class="panel-body float-e-margins">
                    <div class="row">
                        <div class="col-md-4 animated-panel fadeIn" style="animation-delay: 0.4s;">
                            <small>   
  <span class="fa fa-user fa-lg"></span> - Entered by User &nbsp;&nbsp;<span class="fa fa-apple fa-lg text-info"></span> -  iOS App
                    &nbsp;&nbsp;        <span class="fa fa-android fa-lg text-success"></span> -  Android App

 </small>
                        </div>
                        <div class="col-md-8 animated-panel fadeIn" style="animation-delay: 0.5s;">
                            <!--<div class="pull-right">
                                <button data-toggle="modal" data-target="#myModal" class="btn btn-info btn-outline " type="button">
                                    <i class="fa fa-share"></i> Download <span class="caret"></span>
                                </button>
                            </div>-->
                            <span class="pull-right">&nbsp;&nbsp;</span>
                            <button ng-click="resetModal()" type="button" id="btnAddPlayer" class="btn btn-outline btn-warning2 pull-right" data-toggle="modal" data-target="#addBodyTemperatureModal">Add Body Temperature</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center" ng-show="Loading2">
                                <img src="assets/images/loading-bars.svg" width="64" height="64" />
                            </div>
                            <div class="show-hide-message" ng-show="SuccessMsg2">
                                <div class="alert alert-warning">
                                    <strong>Success!</strong> {{SuccessMsg2}}
                                </div>
                            </div>
                            <div class="show-hide-message" ng-show="SuccessMsg">
                                <div class="alert alert-success">
                                    <strong>Success!</strong> {{SuccessMsg}}
                                </div>
                            </div>
                            <div class="show-hide-message" ng-show="ErrorMsg2">
                                <div class="alert alert-danger">
                                    <strong>Oops!</strong> {{ErrorMsg2}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <div class="gj-grid-wrapper">
                            <table id="grid" class="footable table table-bordered table-hover gj-grid-table">
                                <thead>
                                    <tr>
                                        <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                            <div style="float: left">S.No.</div>
                                        </th>
                                        <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                            <div style="float: left">Entered By</div>
                                        </th>
                                        <th class="gj-grid-bootstrap-thead-cell" style="width: 100px; text-align: center;">
                                            <div style="float: left">Collection Date</div>
                                        </th>
                                        <th class="gj-grid-bootstrap-thead-cell" style="width: 100px; text-align: center;">
                                            <div style="float: left">Result</div>
                                        </th>

                                        <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                            <div style="float: left">Comments</div>
                                        </th>

                                        <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                            <div style="float: left"></div>
                                        </th>
                                        <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                            <div style="float: left"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="emptyList" class="text-center" style="background-color: ghostwhite;">
                                        <td colspan="7"><strong> No Body Temperature Records Available </strong></td>
                                    </tr>
                                    <tr ng-repeat="UserBodyTemperature in UserBodyTemperature | filter:searchUser:false">
                                        <td style="text-align: left;">
                                            {{$index + 1}}
                                        </td>
                                        <td style="text-align: center;">
                                            <span class="fa fa-user fa-lg" ng-if="UserBodyTemperature.Record.SourceId == 1"></span>
                                            <span class="fa fa-stethoscope fa-lg" ng-if="UserBodyTemperature.Record.SourceId == 2"></span>
                                            <span class="fa fa-user fa-lg" ng-if="UserBodyTemperature.Record.SourceId == 3"></span>
                                            <span class="fa fa-user fa-lg" ng-if="UserBodyTemperature.Record.SourceId == 4"></span>
                                            <span class="fa fa-apple fa-lg text-info" ng-if="UserBodyTemperature.Record.SourceId == 5"></span>
                                            <span class="fa fa-android fa-lg text-success" ng-if="UserBodyTemperature.Record.SourceId == 6"></span>
                                        </td>


                                        <td style="text-align: left;">
                                            {{UserBodyTemperature.Record.strCollectionDate}}
                                        </td>
                                        <td style="text-align: left;">
                                            {{UserBodyTemperature.Record.Result}}
                                        </td>


                                        <td style="text-align: left;">
                                            {{UserBodyTemperature.Record.Comments}}
                                        </td>
                                        <td style="text-align: left;">
                                            <a href="#" title="View" ng-click="showBodyTemperature(UserBodyTemperature.Record._id)"><span class="glyphicon glyphicon-eye-open text-info"></span></a>
                                        </td>
                                        <td style="text-align: left;">
                                            <a href="#" title="Delete" ng-click="removeUserBodyTemperature(UserBodyTemperature.Record._id)"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add BodyTemperature Modal -->
<div class="modal fade hmodal-info" id="addBodyTemperatureModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Add Body Temperature</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center" ng-show="Loading">
                            <img src="assets/images/loading-bars.svg" width="64" height="64" />
                        </div>

                        <div class="show-hide-message" ng-show="ErrorMsg">
                            <div class="alert alert-danger">
                                <strong>Oops!</strong> {{ErrorMsg}}
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="AddForm2">
                    <div class="row">
                        <form name="BodyTemperatureForm2">
                            <div class="form-group col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="control-label">Result: <span style="color: red;">*</span></label>
                                        <input class="form-control" type="number" required ng-model="BodyTemperatureData.Info.Result" step="0.01" placeholder="(75-115.7) Fahrenheit (°F) " min="0" oninput="validity.valid||(value='');">

                                    </div>
                                </div>
                            </div>





                            <div class=" form-group col-lg-12 ">
                                <div class="row ">
                                    <div class="col-lg-12 ">
                                        <label class="control-label ">Collection Date: <span style="color: red; ">*</span></label><br>
                                        <input id="datapicker2" required placeholder="dd/mm/yyyy" data-date-end-date="0d" type="text" required="" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="BodyTemperatureData.Info.strCollectionDate" style="">

                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-lg-12 ">
                                <div class="row ">
                                    <div class="col-lg-12 ">
                                        <label class="control-label ">Comments / Notes:</label>
                                        <textarea class="form-control " placeholder="Write your Comments here. " ng-model="BodyTemperatureData.Info.Comments "></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                <span ng-show="AddForm2 "><button type="button" class="btn btn-success" ng-click="addBodyTemperature()" ng-disabled="BodyTemperatureForm2.$invalid">Add Body Temperature</button></span>
            </div>
        </div>
    </div>
</div>

<!-- Show BodyTemperature Modal -->




<div class="modal fade hmodal-info" id="showBodyTemperatureModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title"> Body Temperature Details</h4>

            </div>
            <div class="modal-body">
                <fieldset ng-disabled="showDisable">
                    <div class="row">
                        <form name="">
                            <div class="form-group col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="control-label">Body Temperature: </label>
                                        <input class="form-control" ng-model="UserBodyTemperatureData.Record.Result">

                                    </div>
                                </div>
                            </div>





                            <div class=" form-group col-lg-12 ">
                                <div class="row ">
                                    <div class="col-lg-12 ">
                                        <label class="control-label ">Collection Date: </label><br>
                                        <input id="datapicker2 " type="text" required=" " class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-model="UserBodyTemperatureData.Record.strCollectionDate">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-lg-12 ">
                                <div class="row ">
                                    <div class="col-lg-12 ">
                                        <label class="control-label ">Comments / Notes:</label>
                                        <textarea class="form-control " ng-model="UserBodyTemperatureData.Record.Comments "></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-default " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>