<div class="no-print">
<div class="normalheader transition animated fadeIn">
    <div class="hpanel hblue">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li>
                        <span>Change Profile Picture</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Change Profile Picture
            </h2>
            <div>
                <small>Change Profile Picture here by chosing a new picture.</small>
            </div>
        </div>
    </div>
</div>

<div class="content transition animated fadeIn">
    <div class="row">
        <div class="col-lg-12 animated-panel fadeIn" style="animation-delay: 0.3s;">
            <div class="hpanel hgreen">
                <div class="panel-heading">
                    <div class="panel-tools">

                    </div>
                </div>
                <div class="panel-body float-e-margins">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="show-hide-message" ng-show="ImageSuccess">
                                <div class="text-center" ng-show="Loading">
                                    <img src="assets/images/loading-bars.svg" width="64" height="64" />
                                </div>
                                <div class="alert alert-success">
                                    <strong>Success!</strong> {{ImageSuccess}}
                                </div>
                            </div>
                            <div class="show-hide-message" ng-show="ImageFail">
                                <div class="alert alert-danger">
                                    <strong>Opp!</strong> {{ImageFail}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <form name="changePicForm">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Select Picture: <span style="color: red;">*</span></label>
                                <input input type='file' id="picture" placeholder="Upload Picture" class="form-control" ng-model='ImageData.personal.image' base-sixty-four-input>
                                <p id="fileName"></p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group pull-right">
                                <button class="btn btn-info" ng-disabled="changePicForm.$invalid" ng-click="updatePicture()">Upload Picture</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>