<div ng-show="reportstatus" class="no-print">
    <div class="normalheader transition animated fadeIn">
        <div class="hpanel hblue">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <!--<ol class="hbreadcrumb breadcrumb">
                    <li><a href="/">Dashboard</a></li>
                    <li>
                        <span>Change Password</span>
                    </li>
                </ol>-->
                </div>
                <h2 class="font-light m-b-xs">
                    Report
                </h2>
                <div>
                    <small>Data You Have Selected to be download</small>
                </div>
            </div>
        </div>
    </div>

    <div class="content transition animated fadeIn">
        <div class="row">
            <div class="col-lg-12 animated-panel fadeIn" style="animation-delay: 0.3s;">
                <div class="hpanel hgreen">
                    <div class="panel-body float-e-margins">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12">

                                </div>
                                <form name="reportForm">
                                    <div class="text-center">
                                        <h3>
                                            <i style="margin-right: 1%;" class="fa fa-download"></i> Download Record
                                        </h3>
                                    </div>

                                    <div class="col-md-12" style="padding-left: 55px;">
                                        <div class="row">
                                            <div class="show-hide-message" ng-show="feedbackSuccess">
                                                <div class="alert alert-success">
                                                    <strong>Success!</strong> {{feedbackSuccess}}
                                                </div>
                                                <hr />
                                            </div>
                                            <div class="show-hide-message" ng-show="ReportError">
                                                <div class="alert alert-danger">
                                                    {{ReportError}}
                                                </div>
                                            </div>
                                        </div>
                                        <span style="font-size: 15px;"><label></label><strong> Select Record</strong></span>
                                        <div class=" col-lg-12 row" style="padding-top: 12px;">
                                            <div class="col-lg-5">
                                                <div class="col-lg-1">
                                                    <input type="radio" name="Stype" id="ReportType1" ng-model="SelectionType" value="0" class="input-sm" ng-click="Resetselect();" />
                                                </div>
                                                <div style="margin-top: 10px;" class="col-lg-5">
                                                    <label style="padding-left: 10px;" ng-click="ReportType(0);">Modules Based</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-1">
                                                    <input type="radio" name="Stype" id="ReportType2" ng-model="SelectionType" value="1" class="input-sm" ng-click="Resetselect();" />
                                                </div>
                                                <div style="margin-top: 10px;" class="col-lg-5">
                                                    <label style="padding-left: 10px;" ng-click="ReportType(1);">Date Based</label>
                                                </div>
                                                <div class="row" ng-show="DisplayDate">
                                                    <div class="input-daterange input-group" id="datepicker">
                                                        <input type="text" placeholder="Start Date" ng-model="dateData.From" class="input-sm form-control" />
                                                        <span class="input-group-addon">to</span>
                                                        <input type="text" placeholder="End Date" ng-model="dateData.To" class="input-sm form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" ng-show="DisplayArena">
                                        <hr />
                                        <span style="font-size: 15px;padding-left: 50px;"> <strong>Select Modules</strong></span>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="row" style="padding-top: 12px;">
                                            <div class="col-lg-2" ng-show="enableAllergy">
                                                <div ng-switch on="Allergyenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectAllergy()">Allergy(s)</button>
                                                    <button class="btn btn-primary  btn-block" ng-switch-when='false' ng-click="unselectAllergy()">Allergy(s)</button>
                                                </div>

                                            </div>
                                            <div class="col-lg-2" ng-show="enableImmunization">
                                                <div ng-switch on="Immunizationenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectImmunization()">Immunization(s)</button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectImmunization()">Immunization(s)</button>
                                                </div>
                                            </div>
                                            <div class="col-lg-2" ng-show="enableProblem">
                                                <div ng-switch on="Problemenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectProblem()">Problem(s)</button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectProblem()">Problem(s)</button>
                                                </div>
                                            </div>
                                            <div class="col-lg-2" ng-show="enableLab">
                                                <div ng-switch on="Labenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectLab()">Lab Test(s)</button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectLab()">Lab Test(s)</button>
                                                </div>
                                            </div>



                                            <div class="col-lg-2" ng-show="enableProcedure">
                                                <div ng-switch on="Procedureenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectProcedure()">Procedure(s) </button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectProcedure()">Procedure(s) </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 12px;">
                                            <div class="col-lg-2" ng-show="enableMedicine">
                                                <div ng-switch on="Medicationenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectMedicine()">Medication(s) </button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectMedicine()">Medication(s) </button>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <div ng-switch on="Activityenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectActivity()">Activity(s)</button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectActivity()">Activity(s)</button>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <div ng-switch on="BloodPressenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectBloodPress()">Blood Pressure(s)</button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectBloodPress()">Blood Pressure(s)</button>
                                                </div>
                                            </div>


                                            <div class="col-lg-2">
                                                <div ng-switch on="BloodGlucenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectBloodGluc()">Blood Glucose(s)</button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectBloodGluc()">Blood Glucose(s)</button>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <div ng-switch on="BMIenable">
                                                    <button class="btn btn-success btn-block" ng-switch-when='true' ng-click="selectBMI()">BMI(s)</button>
                                                    <button class="btn btn-primary btn-block" ng-switch-when='false' ng-click="unselectBMI()">BMI(s)</button>
                                                </div>
                                            </div>

                                        </div>
                                        <hr />
                                        <br/>
                                        <div class="col-lg-8 col-lg-offset-4">
                                            <div style="margin-top: 10px;" class="col-md-4">


                                                <a target="_blank" ng-click="Preview()" class="btn btn-primary btn-block">
                                   Preview
                                </a>
                                            </div>
                                        </div>
                                        <br />
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div ng-show="printstatus" class="col-lg-8 col-lg-offset-2">

    <br>
    <br>
    <br>
    <br>
    <div class="row no-print">
        <div class="col-lg-12 text-center">
            <button ng-click="Editreport();" class="btn btn-success btn"><i class="fa fa-pencil " aria-hidden="true">Edit</i></button>
            <button ng-click="GetReport()" class="btn btn-warning"><i class="fa fa-download"  aria-hidden="true"> Print</i></button>
        </div>
    </div>
    <br>
    <br>

    <div style="overflow: auto;" id="divcontent">
        <div class="row">
            <div class="col-lg-12">

                <div class="hpanel">
                    <div class="panel-body">

                        <h1 class="font-light m-b-xs text-center">
                            <img src="assets/images/digital_india_logo.png" class="img-responsive pull-left" height="70" width="70">

                            <img src="assets/images/Indexcdac.jpg" class="img-responsive pull-right" height="50" width="50">

                        </h1>
                        <h2 class="font-light m-b-xs text-center">
                            MyHealthRecord
                        </h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">




                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                                Personal Information
                                            </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body" id="divPanelPersonalInfo">

                                <div class="form-horizontal" role="form" id="PersonalInfo">

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="FirstName">First Name</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{first}}</p>
                                        </div>
                                        <label class="col-xs-2 control-label" for="LastName">Last Name</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{last}}</p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="Email">E-Mail</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static"> {{email}}</p>
                                        </div>
                                        <label class="col-xs-2 control-label" for="Uhid">Aadhaar No.</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{aadhar}}</p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="DOB">Date Of Birth</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{dob}}</p>
                                        </div>
                                        <label class="col-xs-2 control-label" for="Gender">Gender</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static"> {{gender}}</p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="BloodType">Blood Group</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{blood}}</p>
                                        </div>

                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="AddressLine1">Address Line 1</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{address1}}</p>
                                        </div>
                                        <label class="col-xs-2 control-label" for="AddressLine2">Address Line 2</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{address2}}</p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="City_Vill_Town">City/Village/Town</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{city}} </p>
                                        </div>
                                        <label class="col-xs-2 control-label" for="District">District</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static"> {{district}}</p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="strState">State/UT</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{state}}</p>
                                        </div>
                                        <label class="col-xs-2 control-label" for="Pin">PIN</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{pin}}</p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="Home_Phone">Phone</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static"> </p>
                                        </div>
                                        <label class="col-xs-2 control-label" for="Cell_Phone">Mobile No.</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">{{mobile}}</p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label" for="DiffAbled">Are you differently abled?</label>
                                        <div class="col-xs-4">
                                            <p class="form-control-static">
                                                <span ng-if="shared.Personal.disability == false">No</span>
                                                <span ng-if="shared.Personal.disability == true">Yes</span>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed-Custom"></div>

                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" ng-show="emptyAllergiesList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                                Allergy
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table id="grid" class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="text-align: left;">
                                                    <div style="float: left">Allergy Name</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">From</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Still Have Allergy?</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Severity</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="UserAllergy in UserAllergies | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>

                                                <td style="text-align: left;">
                                                    {{UserAllergy.Allergy.AllergyName}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserAllergy.Since}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserAllergy.StillHave}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserAllergy.Severity}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" ng-show="emptyImmunizationList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                                Immunization
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="text-align: left;">
                                                    <div style="float: left">Immunization Name</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="text-align: left;">
                                                    <div style="float: left">Taken On</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="UserImmunization in UserImmunizations | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserImmunization.Immunization.ImmunizationName}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserImmunization.strTakenOn}}
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" ng-show="emptyConditionList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                                Problem
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="text-align: left;">
                                                    <div style="float: left">Diagnosis Name</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Diagnosis Date</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Still Have Problem?</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="UserCondition in UserConditions | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserCondition.Condition.HealthCondition}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserCondition.strDiagnosisDate}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserCondition.StillHave}}
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" ng-show="emptyLabList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                                Lab
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width:100px; text-align: left;">
                                                    <div style="float: left">Performed On</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Test Name</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 150px; text-align: left;">
                                                    <div style="float: left">Result</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 100px; text-align: left;">
                                                    <div style="float: left">Unit</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="UserLab in UserLabs | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserLab.strPerformedOn}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserLab.Lab.TestName}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserLab.Result}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserLab.Unit}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default" ng-show="emptyProcedureList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                                Procedure
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="text-align: left;">
                                                    <div style="float: left">Procedure Name</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Performed By</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Performed On</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="UserProcedure in UserProcedures | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserProcedure.Procedure.ProcedureName}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserProcedure.DoctorHospital}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserProcedure.strDateofProcedure}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default" ng-show="emptyMedicineList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                                Medicine
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 50px; text-align: left;">
                                                    <div style="float: left">Prescribed Date</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Medicine Name</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell gj-grid-thead-sortable" style="width: 100px; text-align: left;">
                                                    <div style="float: left">Still Taking?</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="UserMedication in UserMedications | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>

                                                <td style="text-align: left;">
                                                    {{UserMedication.strDatePrescribed}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserMedication.Medicine.MedicineName}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserMedication.StillHave}}
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default" ng-show="emptyActivityList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                               Wellness- Activity
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 200px;text-align: left;">
                                                    <div style="float: left">Activity Name</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 200px; text-align: left;">
                                                    <div style="float: left">Path</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">

                                                    <div style="float: left">Distance(Km)</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Date</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="UserActi in UserActivity | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>

                                                <td style="text-align: left;">
                                                    {{UserActi.Activity.ActivityName}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserActi.Name}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserActi.Distance}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UserActi.strCollectionDate}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="panel panel-default" ng-show="emptyBPList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                               Wellness - Blood Pressure
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Result Systolic</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Result Diastolic</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Date</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="UrBP in UserBP | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>

                                                <td style="text-align: left;">
                                                    {{UrBP.ResSystolic}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UrBP.ResDiastolic}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UrBP.strCollectionDate}}
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="panel panel-default" ng-show="emptyBGList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                               Wellness - BLOOD GLUCOSE
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Result</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Value Type</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Date</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="UrBG in UserBG | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>

                                                <td style="text-align: left;">
                                                    {{UrBG.Result}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UrBG.ValueType}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UrBG.strCollectionDate}}
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default" ng-show="emptyBMIList">
                        <div class="panel-heading" role="tab" id="headingNine" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" style="cursor:pointer">
                            <h4 class="panel-title">
                                <a>
                                               Wellness -BMI
                                            </a>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <div class="gj-grid-wrapper">
                                    <table class="footable table table-bordered table-hover gj-grid-table">
                                        <thead>
                                            <tr>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 50px; text-align: left;">
                                                    <div style="float: left">S.No.</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Weight (in Kg)</div>
                                                </th>
                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Height (in cm)</div>
                                                </th>

                                                <th class="gj-grid-bootstrap-thead-cell" style="width: 34px; text-align: left;">
                                                    <div style="float: left">Date</div>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="UrBMI in UserBMI | filter:searchUser:false">
                                                <td style="text-align: left;">
                                                    {{$index + 1}}
                                                </td>

                                                <td style="text-align: left;">
                                                    {{UrBMI.Weight}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UrBMI.Height}}
                                                </td>
                                                <td style="text-align: left;">
                                                    {{UrBMI.strCollectionDate}}
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div>

                    </div>

                </div>
            </div>
        </div>


    </div>